# Environment files
.env
.env.*

docs/Adaptive Time Warnings .rtf
images/background_images/cartoon-attic-interior-cozy-boy-bedroom-with-bed-chair-workspace-with-computer/boys_bedroom_background.eps
sounds/backgroundMusic/cute-sound-for-videos-397053.mp3
sounds/backgroundMusic/friendly-melody-14015.mp3
sounds/sfx/068232_successwav-82815.mp3
sounds/sfx/applause-sound-1.mp3
sounds/sfx/aww-2.mp3
sounds/sfx/aww-sfx-1.mp3
sounds/sfx/bonus-points-190035.mp3
sounds/sfx/coin-collision-sound-342335.mp3
sounds/sfx/collect-ring-sfx.mp3
sounds/sfx/get-coin-351945.mp3
sounds/sfx/yipee-45360.mp3
